<div id="homeContainer">
    <a class="noStyle" href="#"><h1 class="logoHeader">Recommend Me A Track</h1></a>
    <p>Add a track to the database</p> 
    <p>Track Name:</p>
    <input name="trackNameEntry" id="trackNameEntry" type="text">
    <p>Youtube URL:</p>
    <input name="trackURLEntry" id="trackURLEntry" type="text">
    <p>Track Genre:</p>
    <input name="trackGenreEntry" id="trackGenreEntry" type="text">
    <br><br><br>
    <input type="button" class="button" value="submit" style="cursor: pointer;" onclick="addTrack()">
    
    
</div>
<div class="footerContainer">
    <p>Built with <3 by <a href="http://www.joedavine.com">Joe Davine</a></p>
</div>
