        <div id="mainContainer">
            <a class="noStyle" href="#"><h1 class="logoHeader">Recommend Me A Track</h1></a>
            <p>Click recommend - and we will :)</p>
            <br><br>
            <div id="chooseContainer">
                <a class="button" href="#">Recommend</a>   
            </div>
                <br><br><br>
            <p>Built with <3 by <a href="http://www.joedavine.com">Joe Davine</a></p>
        </div>