/* STYLES LOL */

body {
    font-family: 'arial' sans-serif;
}

.button {
    text-transform: uppercase;
    border: 1px;
    padding: 10px;
    background-color: #3446c9;
    transition-duration: 0.8s;
    border-radius: 120px;
    color: white;
    text-decoration: none;   
}

.button:hover {
    background-color: #18205c;
    transition-duration: 0.8s;
}

.noStyle {
    text-decoration: none;
}


/* MAIN CONTAINER */
#mainContainer {
    max-width: 1000px;
    text-align: center;
}

#mainContainer h1 {
    text-align: center;
}

.logoHeader {
    color: #3446c9;
    font-family: 'futura' sans-serif;
    text-transform: uppercase;
}

/* CHOOSE SECTION */

#chooseContainer {
    text-align: center;   
}

#chooseContainer span {
    margin: 5px;
}